$spacing: 4px;
$font-family: 'Inter Tight', sans-serif;
$button-color: rgba(0, 0, 0, 0.6);
$button-background: #fff;
$button-hover-color: rgba(0, 0, 0, 0.9);
$button-border-size: 2px;

:global(.divider) {
  height: 8px;
  width: 30px;
  border-radius: 8px;
  background-color: #888;
  align-self: center;
  justify-self: center;
  margin: 4px 0;
}

:global(.flex-row) {
  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

:global(.flex-col) {
  display: flex;
  flex-direction: column;
}

:global(.flex-col.flex-col--center) {
  align-items: center;
}

:global(.base-width) {
  width: 50%;

  @media (max-width: 1000px) {
    width: 80%;
  }
}

:global(.base-width.base-width--wider) {
  width: 60%;

  @media (max-width: 1000px) {
    width: 80%;
  }
}
